
body{
    margin: 0px;
    padding: 0px;
}

.header{
    background-color: rgba(120, 202, 161, 0.699);
    color: white;
    text-align: center;
    top: 0px;
    width: 100%;
    padding: 5px;
    border-top: #333 5px solid;
    border-bottom: #333 5px solid;
}

.forms{
    display: grid;
	grid-gap: 30px;
	grid-template-columns: 1fr 1fr 1fr;
	margin-left: 80px;
    padding: 20px;
	border:rgb(1, 1, 1) 1px solid;
	background-color: #777;
	width: 87.5%;
}
