
html, body{
	margin: 0;
	padding: 0;
	background-color: rgb(202, 202, 202);
}

a{
	text-decoration: none;
}

header{
	background-color: rgba(120, 202, 161, 0.699);
	margin: 0px auto;
	padding: 5px;
}

header::after{
	content: '';
	display: table;
	clear: both;
}

.login_bar {
	width: 90%;
	margin: 0% auto;
	background-color: #555;
}

.logo{
	float: left;
	width: 150px;
	height: 30px;
	padding-left: 100px;
}

nav{
	float: right;
}

nav ul{
	margin: 0;
	padding: 0;
	list-style: none;
}

nav li{
	display: inline-block;
	margin-left: 50px;
	padding-top: 10px;
	padding-bottom: 5px;
	position: relative;
}

nav li:hover{
	background-color:rgb(114, 212, 163);
}

nav > ul > li > a{
	color: #444;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 17px;
}

nav > ul > li > select{
	color: #444;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 17px;
}

nav > ul > li > a::before{
	content: '';
	display: block;
	height: 3px;
	background-color: #444;

	position: absolute;
	top: 0;
	width: 0%;
	
	transition: all ease-in-out 150ms;
}

nav > ul > li > a:hover::before{
	width: 100%;
}

.nav_bar{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	position: relative;
	background-color: rgba(82, 77, 77, 0.8);
	text-align: center;
	height: 32px;
}

.nav_bar .nav_item{
	background-color: rgba(82, 77, 77, 0.8);
	border-left: 1px solid rgb(1,1,1);
	border-right: 1px solid rgb(1,1,1);
	padding: 8px;
	font-size: 12px;
	text-decoration: none;
	text-transform: uppercase;
	text-align: center;
	color:rgba(175, 170, 170, 0.8);
	transition-duration: 0.4s;
	overflow: hidden;
	cursor: pointer;
}

.nav_bar .nav_item:hover{
	background-color: rgba(102, 95, 95, 0.8);
}

form {
	margin:1px auto;
	background-color: rgba(82, 77, 77, 0.8);
}

.wrapper{
	display: grid;
	grid-template-columns: 4fr 1fr;
	grid-gap: 1px;
	padding-top: 50px;
	padding-right: 100px;
}

.wrapper > .nested_articles{
	display: grid;
	grid-gap: 30px;
	grid-template-columns: 1fr 1fr 1fr;
	margin-left: 80px;
	padding: 8px;
	padding-left: 25px;
	border:rgb(1, 1, 1) 1px solid;
	background-color: #777;
	width: 77.5%;
}

.wrapper > div > div:hover{
	border:rgba(120, 202, 161, 0.699) 1px solid !important;
}

.wrapper > div > div{
	display: grid;
	border: rgb(1,1,1) 1px solid;
	grid-auto-rows: minmax(0px,auto);
	text-align: center;
	text-decoration: none;
	line-height:  20%;
	color: #222;
	height: 170px;
	width: 330px;		
}

.wrapper > div > div > input{
	margin-top: 20px;
	height: 40px;
}

.wrapper > div > div > a > h5{
	padding-top: 70px;
	color:rgb(114, 212, 163);
}

.wrapper > div > div > a{
	color: #333;
}

.menu_right{
	position: relative;
	padding-left: 15px;
	display: inline-block;
	background-color: #555;
	text-decoration: none;
	border: #333 1px solid;
	height: 600px;
}

.menu_right > .item{
	float: left;
	padding-bottom: 5px;
	color: #333;
	background-color:rgb(126, 226, 176);
	height: 80px;
}

.menu_right > h3{
	text-align: center;
	background-color: #777 !important;
	height: 30px;
	padding-top: 5px;
	margin-right: 15px;
}

.menu_right > .price{
	height: 50px;
	border: none;
}

.menu_right > form > input{
	width: 100%;
}

.article_item{
	text-decoration: none;
	text-transform: uppercase;
	background-color: #888 !important;
	color:	rgb(87, 87, 87);
}

.button{

	position: relative;
	top: 50%;
	left: 31%;
    background-color: rgba(120, 202, 161, 0.699);
	margin-top: 10px;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
	cursor: pointer;

	align-self: center;
	
}

.button > a{
	color: #333;
}


#error_msg{
    width: 50%;
    margin: 5px auto;
    height: 30px;
    border: #944 1px solid;
    background-color: #FFB9B8;
    color: #FF0000;
    text-align: center;
    padding-top: 10px;
}

#success_msg{
	width: 50%;
    margin: 5px auto;
    height: 30px;
    border: rgb(94, 133, 69) 1px solid;
    background-color: rgb(171, 255, 154);
    color: rgb(0, 0, 0);
    text-align: center;
    padding-top: 10px;
}

.footer{
	background-color: rgba(120, 202, 161, 0.699);
	margin-top: 100px;
	padding: 15px;
	border-top: #555 5px solid;
	border-bottom: #555 5px solid;
}