body{
    margin: 0;
    padding: 0;
}

.header{
    background-color: rgba(120, 202, 161, 0.699);
    color: white;
    text-align: center;
    top: 0px;
    width: 100%;
    padding: 5px;
    border-top: #333 5px solid;
    border-bottom: #333 5px solid;
}

.container > p{

    background-color: rgb(231, 231, 231);
    width: 40%;
    height: 300px;
    border: #333 2px solid;
    margin: 5px auto;
    text-align: center;
    padding: 20px;
}


#error_msg{
    width: 50%;
    margin: 5px auto;
    height: 30px;
    border: #944 1px solid;
    background-color: #FFB9B8;
    color: #FF0000;
    text-align: center;
    padding-top: 10px;
}